$style-color: rgba(0, 0, 0, 0.6);
$banner-size: 12rem;
$banner-radius: 25px;

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: $banner-size;
    background-size: 100%;
    border-radius: $banner-radius;
    background-position: 50% 40%; 
    position: relative;

    & > img {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        border-radius: $banner-radius;
    }

    & > .banner-overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: bottom;
        width: 100%;
        height: $banner-size;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: $banner-radius;
        background-color: rgba(0, 0, 0, 0.4);
    
        &:hover {
            background-color: $style-color;
            box-shadow: 10px 5px 5px $style-color;
        };

        & > .banner-title {
            display: block;
            color: white;
            font-family: 'Montserrat';
            font-size: 40px;
            line-height: 110px;
            letter-spacing: 0em;
            text-align: left;
        
            @media only screen and (max-width: 767px) {
                font-size: 25px;
                margin: 0rem 1rem 1rem 1rem;
                text-wrap: wrap;
            }
        }
    }
}

